requests==2.26.0
uvicorn==0.15.0
tensorflow~=2.6.0
dill~=0.3.4
flwr~=0.18.0
pandas~=1.4.2
pymongo~=4.0.1
scikit-learn~=1.0.2
starlette~=0.16.0
pydantic~=1.8.2
config~=0.5.1
fastapi~=0.70.0
keras~=2.6.0
